{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Number of Stocks</th>
                    <th>Price</th>
                    <th>Sell/Buy</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for purches in history %}
                    <tr>
                        <td>{{ purches["symbol"] }}</td>
                        <td>{{ purches["ammount"] }}</td>
                        <td>{{ purches["price"] }}</td>
                        <td>{{ purches["type"] }}</td>
                        <td>{{ purches["date"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}